.custom-table {
  max-width: 100%;
  max-height: 500px; /* ajusta la altura máxima según tus necesidades */
}
.BPLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: auto;
}